{% extends "layout.html" %}

{% block title %}
     - About
{% endblock %}

{% block main %}
    </br>
    <h5>ABOUT THIS SITE</h5>
    <p>Hi, I'm Ting.</p>
    <p>And this is my CS50 final project.</p>
    <p>Find me on <a href="https://github.com/tingyuJ/Wordle-Helper">GitHub</a></p>
    </br>

    <div class="inspiration">
        <h6>Inspiration</h6>
        <p>
            Wordle was a quite popular game among my friends around Febuary this year which was about 3 months ago.
            Apparently the trend is over now but I'm still playing it LOL.
        </p>
        <p>This is how much I've played the unlimited version.</p>
        <img src="/static/wordle_stats.jpg"/>
        <p>And, of course, since English is not my first language.
        There were often times I needed some help from the dictionary to get the answer
        and times I was just randomly testing all the possible combinations. </p>
        <p>Because I really don't wanna mess with my winning rate. I was pretty dedicated to getting them right.
        One day I was struggling with a word. The idea of generating all the combinations with a program came to my mind.
        I thougt I could at least get some clues from them but geez there were so many!
        I only needed the ones that are actually real existing words.
        And that sounds exactly like the homework from Week5: Speller.
        I ran all the possibilities with speller.c and...
        Voilà!
        Down to 2 possible answers.</p>
        </br>
        <p>Anyways, that was the story behind this.</p>
    </div>



{% endblock %}
